body {
    background-color: #ebebe0;
}

.name {
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    font-size: 40px;
    margin-bottom: 9px;
    ;
}

.cap {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
}

.image {
    height: 650px;
    width: 98%;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.img {
    max-width: 75%;
    margin-left: 170px;
    margin-right: 150px;
    margin-top: 2em;
}

.list {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: large;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.time {
    width: 600px;
    height: 400px;
    margin-left: 400px;
    margin-top: 50px;
    line-height: 2;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.caption .said {
    margin-top: 60px;
}

.link {
    font-weight: bold;
}